@media screen and (max-width: 1000px){
    section{
        width: 90%;
        display: block;
        margin: auto;
    }
    .left{
        width: 100%;
        padding-top: 60px;
    }
    main h1{
        text-align: center;
        width: 100%;
        font-size: 59px;
    }
    main p{
        width: 100%;
        font-size: 17px;
        text-align: center;
    }
    div {
        margin-top: 75px;
    }
    label{
        display: block;
    }
    label input{
        width: 100%;
    }
    label button{
        margin-top: 6px;
        margin-left: 125px;
        padding: 12px 22px;
        font-weight: 600;
        justify-content: center;
    }
    footer{
        justify-content: center;
        padding: 40px 0;
    }
    .right{
        display: none;
    }



}